1. Загрузите файл `HR.csv` в pandas dataframe

In [163]:
import pandas as pd

df_hr = pd.read_csv('HR.csv')
df_hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

2. Рассчитайте основные статистики для переменных
(среднее,медиана,мода,мин/макс,сред.отклонение).

In [149]:
print('Среднее:')
print(df_hr.mean())
print('\nМедиана:')
print(df_hr.median())
print('\nМинимальное:')
print(df_hr.min())
print('\nМаксимальное:')
print(df_hr.max())
print('\nСреднее отклонение:')
print(df_hr.mad())
print('\nМода:')
print(df_hr.mode())

Среднее:
satisfaction_level         0.612834
last_evaluation            0.716102
number_project             3.803054
average_montly_hours     201.050337
time_spend_company         3.498233
Work_accident              0.144610
left                       0.238083
promotion_last_5years      0.021268
dtype: float64

Медиана:
satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_montly_hours     200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

Минимальное:
satisfaction_level       0.09
last_evaluation          0.36
number_project              2
average_montly_hours       96
time_spend_company          2
Work_accident               0
left                        0
promotion_last_5years       0
department                 IT
salary                   high
dtype: object

Максимальное:
satisfaction_level               1
last_evaluation                  1
number_project                   7
average_montly_hours           310
time_spend_company              10
Work_accident                    1
left                             1
promotion_last_5years            1
department               technical
salary                      medium
dtype: object

Среднее отклонение:
satisfaction_level        0.206911
last_evaluation           0.150389
number_project            1.008344
average_montly_hours     43.671320
time_spend_company        1.076123
Work_accident             0.247395
left                      0.362798
promotion_last_5years     0.041632
dtype: float64

Мода:
   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                 0.1             0.55             4.0                   135
1                 NaN              NaN             NaN                   156

   time_spend_company  Work_accident  left  promotion_last_5years department  \
0                 3.0            0.0   0.0                    0.0      sales
1                 NaN            NaN   NaN                    NaN        NaN

  salary
0    low
1    NaN

4. Рассчитайте сколько сотрудников работает в каждом департаменте

In [150]:
df_hr_empl = df_hr.pivot_table(index = 'department', values = 'satisfaction_level', aggfunc = 'count').head()
df_hr_empl.rename(columns= {'satisfaction_level': 'employees_num'}, inplace = True)
df_hr_empl

            employees_num
department
IT                   1227
RandD                 787
accounting            767
hr                    739
management            630

5. Показать распределение сотрудников по зарплатам

In [151]:
df_hr_sal = df_hr.pivot_table(index = 'salary', values = 'satisfaction_level', aggfunc = 'count').head()
df_hr_sal.rename(columns = {'satisfaction_level': 'employees_num'}, inplace=True)
df_hr_sal

        employees_num
salary
high             1237
low              7316
medium           6446

6. Показать распределение сотрудников по зарплатам в каждом департаменте по отдельности

In [152]:
df_hr_sal_dep = df_hr.pivot_table(index = 'salary', columns = 'department', values = 'satisfaction_level', aggfunc = 'count').head()
df_hr_sal_dep.rename(columns = {'satisfaction_level': 'employees_num'}, inplace=True)
df_hr_sal_dep

department,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
salary,,,,,,,,,,
high,83,51,74,45,225,80,68,269,141,201
low,609,364,358,335,180,402,451,2099,1146,1372
medium,535,372,335,359,225,376,383,1772,942,1147

7. Проверить гипотезу, что сотрудники с высоким окладом проводят на работе больше времени, чем сотрудники с низким окладом

In [153]:
df_hr_hour = df_hr.pivot_table(index = 'salary',  values = 'average_montly_hours', aggfunc = 'mean').head()
print(df_hr_hour)

max_sal_hour = df_hr_hour.loc[df_hr_hour.average_montly_hours == max(df_hr_hour['average_montly_hours'])]
max_sal_hour

        average_montly_hours
salary
high              199.867421
low               200.996583
medium            201.338349

        average_montly_hours
salary
medium            201.338349

Работники со средним окладом проводят на работе больше времени, соответственно, гипотеза не верна.

In [ ]:
#df_hr.pivot_table(index =  'average_montly_hours', columns = 'salary', aggfunc = 'count',fill_value = 0).head()
df_hr_piv= df_hr.pivot_table(index = ['average_montly_hours', 'salary'],values = 'department', aggfunc = 'count',fill_value = 1)#.head()
df_hr_piv
frame = pd.DataFrame(df_hr_piv)
frame
#frame['delta'] = frame['average_montly_hours']*frame['department']

In [ ]:
df_hr_piv_cnt2 = df_hr[['average_montly_hours','salary','department']].groupby(['average_montly_hours','salary']).count()
df_hr_piv_cnt2
#df_hr[['average_montly_hours','salary','department']]

8. Рассчитать следующие показатели среди уволившихся и не
уволившихся сотрудников (по отдельности):

* Доля сотрудников с повышением за последние 5 лет
* Средняя степень удовлетворенности
* Среднее количество проектов

In [172]:
#df_hr2 = df_hr[['left','promotion_last_5years']].groupby(['left']).count()

#------------Доля сотрудников с повышением за последние 5 лет-------------------
out = df_hr[df_hr.left==1]
out_and_promo = out[out.promotion_last_5years==1].count()['left'] / out.count()['left']
print('Доля сотрудников с повышением за последние 5 лет среди уволившихся сотрудников: ','{0:.3}%'.format(out_and_promo))
      
stay = df_hr[df_hr.left==0]
stay_and_promo = stay[stay.promotion_last_5years==1].count()['left'] / stay.count()['left']
print('Доля сотрудников с повышением за последние 5 лет среди не уволившихся сотрудников: ','{0:.3}%'.format(stay_and_promo),'\n')
#df_hr[['left', 'promotion_last_5years']].value_counts()

#-------------Средняя степень удовлетворенности------------------------------------
df_hr_stf = df_hr.pivot_table(index = 'left',  values = 'satisfaction_level', aggfunc = 'mean', fill_value = 0).head()
df_hr_stf.rename(columns={'satisfaction_level': 'avg_satisfaction_level'}, inplace=True)
print(df_hr_stf)

#-------------Средняя степень удовлетворенности------------------------------------
df_hr_prog = df_hr.pivot_table(index = 'left',  values = 'number_project', aggfunc = 'mean', fill_value = 0).head()
df_hr_prog.rename(columns={'number_project': 'avg_number_project'}, inplace=True)
print(df_hr_prog)

Доля сотрудников с повышением за последние 5 лет среди уволившихся сотрудников:  0.00532%
Доля сотрудников с повышением за последние 5 лет среди не уволившихся сотрудников:  0.0263%

      avg_satisfaction_level
left
0                   0.666810
1                   0.440098
      avg_number_project
left
0               3.786664
1               3.855503